<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DS_CLIENT_ID" value="3aca2444-3647-4b0e-8742-fe4557f67a98" />
    <add key="DS_IMPERSONATED_USER_GUID" value="9db66758-0b76-486b-9c32-d036f8c4c50a" />
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_SIGNER_1_EMAIL" value="rgoncalves@trustprev.com.br" />
    <add key="DS_SIGNER_1_NAME" value="Rodrigo Wintrich" />
    <add key="DS_CC_1_EMAIL" value="rgoncalves@trustprev.com.br" />
    <add key="DS_CC_1_NAME" value="Rodrigo Wintrich" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="DS_PRIVATE_KEY" value="-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAhtsXSyW2EKHi1vX9pQjmF+2QF1+7xOh4lB+tcl6JQAbYfvIQ
2ldCTzbtjOnM8UE1SOQlwmZH6eQU8KI5W7g1MeHGFXHdLtx9x/taeyBxvgiUfLQr
A+qW/1r7vAS0ID4mCLvaPX3JU2DuQgJn0gmRzOsS3lkYlDs9Wv3QkL0PA46wGJ4p
GaBOcvT9YasfS/AgTIXXZiOMTPxKW5TmwrGcz4ysFug5BxkO/jQshxl0AVuHzg6t
yb0bjINTnvVt9mNsNPYlwFpfY4GPyrlXAeep/TC96qrx67YXV0lhsJEmQwHJp+93
46VIiUp43HQQMzyLOMKRL5gGJ/Aj/r8NFo9XUQIDAQABAoIBABIai2/9KgnlkaxF
7b0gCrOfor5gjbaLdtR7xC8cXdSIlrvEB1soZ7B2sUE/idHBbUPRzPfh/zl48w6y
2HxlqE5//rWWSZkm5IPaTHVHD73xLO3oyfWGoqq5Lh45i2zgqv51KYEjx8k3tASM
ih96RWZ7EFdlIpWTtlLmy/8CQme5p2XCfdlAxVhq6tt56LmXZAAZzgGX4RgZfjTH
8WXMlH70CvY+hg4GkF42R/x8Rqndf89wu2GMZWP1kH5YfkM9RxMp8iMb3m75f9eg
jYPOJNmxpBIus8XoAVpELbvSkejOoRX+WtXkgUoiep6jvs6iYxAnaGcSrLG2pGlB
ltsdQLkCgYEA3XhseUfWUzc3sE4MnNvR3DxO4VJ9mhHPjwGahP4wcwEkPaMTV8AA
zQRWwAScLHfctNY9gMgkpUghqSLqtxJqwpVkqFAHyRdcHjbJgkPmjdu1D3Y0aWzn
QW0qZe6ezD6DEQXWrUyX1DwpBQ75yc4Rie+BCzP1OQF9SPonJRK9yPcCgYEAm+Gb
yapfd4/D9NdsVuwvy2GxhFKtQj/84vltmlc3A6TXS6S6+XiK4/fs9Me73ScGT8Th
ck7xeRu7zAHrgRFgeTEzaLDNcz1O+J2k17MhvPySu8lnwMCTJihYXR4tT55nvL81
7Eccm9r1b1jm/9oMDdcuEe2UYDKhd1Uxibft1/cCgYBgFYvyPkF1DwLBIcuFDjWJ
ODz8sr49ZrbHE2oHgwRgEMG5YBPXQTzXtacxXY6oGESPzFcYlTyY3KeF6tksHfhl
fU0TXM1T6CeWECzysCTJrOVr1Nu+VXorP4JigNkyQXi5nO/bddx1PriJMksay6V+
U4OH6b3dQpEpZSYwhmYCVwKBgC4wRHQV+qG3xK2Y425CH8tY0DvQL6xwv2MV22cf
LpryziSI1Co1kJoKDXlecYkPFiyuvsqbH6vuDtBdRUYCOx7N+FiuAsKByRObyotr
dbTE9kmUXRzdMvzceYpl9bEg08Y2tiijzZNU5uKuagwntOio+OqxBgUXG4b7hGk1
SdFzAoGAAp8h96lJBwaX25zwdLxYPhe+EC2mKUmePkfCLOKGYtqhocRDS6plI+XJ
+kEJQt+dypjE8H5RLKSVF3wPVLiw9ivIqMI0fEjMOgNEcl0cyvi/aI/8a7eTXF+I
T7VFw4jfuCoOi1i1W3gEGAoiLrTn1X6B69CRfuWzpts6qOOsffs=
-----END RSA PRIVATE KEY-----
" />
  </appSettings>
</configuration>
